html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
img {
	width: 125px;
	height: 125px;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	background: #ff0;
	padding: 10px;
	background-color: #3341ff;
	text-align: left;
	font-size: 1.75em;
	font-style: italic;
	width: 98%;
	height: 60px;
	
}

#body {
	padding: 5px;
	padding-bottom: 60px; /* Height of the footer */
}
#mainImage {
	width: 100%;
	height: 50%;
}

#footer {
	margin-top: 30px;
 	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
	text-align: center;
	font-size: 1.5em;
}

#headerInfo {
	text-align: right;
	font-size: 1.25em;
}

.profileCard {
	float: left;
	width: 80%;
	height: 125px;
	margin: 10px;
	border: 3px solid #73AD21;
}
#profileInfo{
	text-align: right;
	float: right;
	
}
#profilePic{
	float: left;
}

a {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}